<launch>
    <!-- COMMUNICATION -->
    <!-- <node name="uart_433_control_transceiver" pkg="phobos_control_station" type="uart_433_control_transceiver" ns="/control"/> -->

    <!-- TELEOPERATION -->
    <node name="keyboard" pkg="keyboard" type="keyboard" ns="/control"/>

    <!-- VISUALIZATION -->
    <node name="pub_traveled_path" pkg="phobos_control_station" type="pub_traveled_path" ns="/control"/>

    <node name="rviz" type="rviz" pkg="rviz" ns="/control"/>

    <!-- IMAGE VIEW -->
    <node name="display_image_1" pkg="phobos_rover_vision" type="display_image" ns="rover">
        <param name="camera_name" value="camera1"/>
        <param name="width" value="320"/>
        <param name="height" value="240"/>
        <param name="x" value="320"/>
        <param name="y" value="0"/>
        <param name="image_transport" value="compressed"/>
    </node>

    <node name="display_image_2" pkg="phobos_rover_vision" type="display_image" ns="rover">
        <param name="camera_name" value="camera2"/>
        <param name="width" value="320"/>
        <param name="height" value="240"/>
        <param name="x" value="320"/>
        <param name="y" value="240"/>
        <param name="image_transport" value="compressed"/>
    </node>

    <!-- <node name="display_image_3" pkg="phobos_rover_vision" type="display_image" ns="rover">
        <param name="camera_name" value="camera3"/>
        <param name="width" value="320"/>
        <param name="height" value="240"/>
        <param name="x" value="0"/>
        <param name="y" value="0"/>
        <param name="image_transport" value="compressed"/>
        <remap from="/rover/camera3/image_raw" to="/rover/camera3/image"/>
    </node> -->

    <node name="display_image_4" pkg="phobos_rover_vision" type="display_image" ns="rover">
        <param name="camera_name" value="camera4"/>
        <param name="width" value="320"/>
        <param name="height" value="240"/>
        <param name="x" value="0"/>
        <param name="y" value="240"/>
        <param name="image_transport" value="compressed"/>
    </node>

</launch>
